<div>
    <div class="tasks">
        <h1>Tasks</h1>
        <p>May 28 - Tuesday</p>
        <mat-selection-list>
            @for (task of tasks; track task) {
            <mat-list-option class="task-option">
                <div>
                    <p>{{task.taskName}}</p>
                    <p>Deadline : {{task.deadlineDate | date }}</p>
                </div>
            </mat-list-option>
            }
        </mat-selection-list>

        <hr />
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">Add Task</button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">Add Task</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form class="modal-body" [formGroup]="taskForm">
                        <mat-form-field class="formField" appearance="outline">
                            <mat-label>Task Name</mat-label>
                            <input matInput type="text" class="input" formControlName="taskName" />
                        </mat-form-field>
                        <mat-form-field class="formField" appearance="outline">
                            <mat-label>Due date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="deadlineDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker class="datePicker" #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="formField" appearance="outline">
                            <mat-label>Priority</mat-label>
                            <mat-select formControlName="prioritySelected">
                                @for (p of priority; track p) {
                                <mat-option [value]="p">{{p}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <div class="buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" [disabled]="!taskForm.valid" type="submit" (click)="onSubmit()">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tasks">
        <h1>Overdue</h1>
        <div class="list-group">
            <div class="list-group-item">
                <p>Do a weekly review of my tasks</p>
            </div>
            <hr />
        </div>
    </div>
</div>