.sideNav{
    background-color: #403a63;
    height: 100%;
}
.list-group-item{
    padding: 20px;
}
.sideNavItem{
    border: none;
    border-radius: 10px;
    padding: 13px;
    background-color: #403a63;
    color: white;
    font-size: 18px;
}
.heading{
    font-size: 20px;
    background-color: #403a63;
    color: white;
    padding: 15px;
    padding-top: 20px;
}
.sideNavItem:hover{
    background-color: #f7f1f1;
    color: #403a63;
}
.selected{
    background-color: #f7f1f1;
    color: #403a63;
}