<div class="sideNav">
    <div class="list-group">
        <p class="list-group-item list-group-item-action sideNavItem">Add Task</p>
        <!-- <p class="list-group-item list-group-item-action sideNavItem">Search</p> -->
        <!-- <p class="list-group-item list-group-item-action sideNavItem">Today</p>
        <p class="list-group-item list-group-item-action sideNavItem">Upcoming</p> -->
    </div>
    <!-- <p class="heading">Projects</p> -->
    <div class="list-group">
        <!-- <p class="list-group-item list-group-item-action sideNavItem">Personal</p>
        <p class="list-group-item list-group-item-action sideNavItem">Work</p>
        <p class="list-group-item list-group-item-action sideNavItem">Home</p> -->
    </div>
</div>