<div>
    <div class="tasks">
        <div class="top-bar">
            <h1>Tasks</h1>
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">Add Task</button>
        </div>
        <mat-list>
            @for (task of list; track task) {
            <mat-list-item class="task-option">
                <div style="display: flex;align-items: center;">
                    <i class="bi bi-check-circle-fill" (click)="deleteItem(task)"
                        [ngStyle]="{'color': task.priority=='High' ? 'red' : task.priority=='Medium' ? 'blue' : 'grey'}"></i>
                    <div style="padding-left: 30px;width: 50%;">
                        <span>{{task.taskName}}</span><br />
                        <span>Due : {{task.dueDate | date }}</span>
                    </div>
                    <!-- <i class="bi bi-pencil-square" (click)="editItem(task)" style="padding-left: 50%;"></i> -->
                </div><br />
                <!-- <mat-divider style="width: 100%;"></mat-divider> -->
            </mat-list-item>
            }
        </mat-list>

        <hr />
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">Add Task</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form class="modal-body" [formGroup]="taskForm">
                        <mat-form-field class="formField" appearance="outline">
                            <mat-label>Task Name</mat-label>
                            <input matInput type="text" class="input" formControlName="taskName" />
                        </mat-form-field>
                        <mat-form-field class="formField" appearance="outline">
                            <mat-label>Due date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="deadlineDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker class="datePicker" #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="formField" appearance="outline">
                            <mat-label>Priority</mat-label>
                            <mat-select formControlName="prioritySelected">
                                @for (p of priority; track p) {
                                <mat-option [value]="p">{{p}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <div class="buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" [disabled]="!taskForm.valid" type="submit"
                                (click)="onSubmit()" data-dismiss="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>