<div class="body">
    <div>
        <mat-toolbar class="toolbar">
            ToDoQuarry
            <div class="toolbar-right">
                <button mat-button class="menu">Features</button>
                <button mat-button class="menu">Log In</button>
                <button mat-flat-button class="menu signUp">Sign Up</button>
            </div>
        </mat-toolbar>
    </div>
    <div class="bodyFront">
        <p class="tagLine">Stay on Track with Ease</p>
        <p class="oneLiner">Plan, Prioritize and Achieve</p>
        <button mat-flat-button class="signUp" (click)="loginPage()">Get Started</button>
    </div>
</div>