.toolbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #FFE6E6;
    color: #403a63;
    position: fixed;
    top: 0;
}
.toolbar-right{
    display: flex;
    justify-content: space-around;
}
.menu{
    margin: 4%;
}
.body{
    color: #403a63;
}
.bodyFront{
    margin-top: 20%;
    text-align: center;
}
.tagLine{
    text-align: center;
    font-size: 80px;
}
.oneLiner{
    text-align: center;
    font-size: 40px;
    margin: 5%;
}
.signUp{
    background-color: #403a63 !important;
    color: white !important;
}